# DATA PREPROCESSING AND DATA CLEANING:

In [1]:
import pandas as pd
import numpy as np

In [2]:
Data = pd.read_csv('SYMPTOMS.csv', usecols=['label','text'])
Data.head()

       label                                               text
0  Psoriasis  I have been experiencing a skin rash on my arm...
1  Psoriasis  My skin has been peeling, especially on my kne...
2  Psoriasis  I have been experiencing joint pain in my fing...
3  Psoriasis  There is a silver like dusting on my skin, esp...
4  Psoriasis  My nails have small dents or pits in them, and...

In [3]:
Data.tail()

         label                                               text
1195  diabetes  I'm shaking and trembling all over. I've lost ...
1196  diabetes  Particularly in the crevices of my skin, I hav...
1197  diabetes  I regularly experience these intense urges and...
1198  diabetes  I have trouble breathing, especially outside. ...
1199  diabetes  I constantly sneeze and have a dry cough. My i...

In [4]:
Data.shape

(1200, 2)

In [5]:
Data = Data.dropna()

In [6]:
Data.shape

(1200, 2)

In [7]:
Data.size

2400

In [8]:
Data.isnull().sum()

label    0
text     0
dtype: int64

In [9]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   1200 non-null   object
 1   text    1200 non-null   object
dtypes: object(2)
memory usage: 18.9+ KB

In [10]:
Data.columns

Index(['label', 'text'], dtype='object')

In [11]:
Data['label'].unique()

array(['Psoriasis', 'Varicose Veins', 'Typhoid', 'Chicken pox',
       'Impetigo', 'Dengue', 'Fungal infection', 'Common Cold',
       'Pneumonia', 'Dimorphic Hemorrhoids', 'Arthritis', 'Acne',
       'Bronchial Asthma', 'Hypertension', 'Migraine',
       'Cervical spondylosis', 'Jaundice', 'Malaria',
       'urinary tract infection', 'allergy',
       'gastroesophageal reflux disease', 'drug reaction',
       'peptic ulcer disease', 'diabetes'], dtype=object)

In [12]:
Data['label'].value_counts()

label
Psoriasis                          50
Varicose Veins                     50
peptic ulcer disease               50
drug reaction                      50
gastroesophageal reflux disease    50
allergy                            50
urinary tract infection            50
Malaria                            50
Jaundice                           50
Cervical spondylosis               50
Migraine                           50
Hypertension                       50
Bronchial Asthma                   50
Acne                               50
Arthritis                          50
Dimorphic Hemorrhoids              50
Pneumonia                          50
Common Cold                        50
Fungal infection                   50
Dengue                             50
Impetigo                           50
Chicken pox                        50
Typhoid                            50
diabetes                           50
Name: count, dtype: int64

In [13]:
Data.groupby('label').describe()

                                 text         \
                                count unique
label
Acne                               50     46
Arthritis                          50     46
Bronchial Asthma                   50     49
Cervical spondylosis               50     49
Chicken pox                        50     49
Common Cold                        50     49
Dengue                             50     50
Dimorphic Hemorrhoids              50     41
Fungal infection                   50     50
Hypertension                       50     50
Impetigo                           50     50
Jaundice                           50     38
Malaria                            50     44
Migraine                           50     47
Pneumonia                          50     47
Psoriasis                          50     50
Typhoid                            50     50
Varicose Veins                     50     50
allergy                            50     50
diabetes                           50     50
drug reaction                      50     50
gastroesophageal reflux disease    50     48
peptic ulcer disease               50     50
urinary tract infection            50     50

                                                                                    \
                                                                               top
label
Acne                             A nasty rash has just appeared on my skin. Bla...
Arthritis                        I've been feeling really weak in my muscles an...
Bronchial Asthma                 I've been struggling with fatigue and a consta...
Cervical spondylosis             Back pain, a persistent cough, and numbness in...
Chicken pox                      I'm feeling fatigued and have no energy. I can...
Common Cold                      I've been quite exhausted and ill. My throat h...
Dengue                           I am facing severe joint pain and vomitting. I...
Dimorphic Hemorrhoids            I've been constipated and it's really hard to ...
Fungal infection                 I have raised lumps, a rash that looks red and...
Hypertension                     I have been experiencing a headache, chest pai...
Impetigo                         I have developed a skin rash on my face and ne...
Jaundice                         I've been feeling extremely scratchy, sick, an...
Malaria                          I have a high fever, severe itching, chills, a...
Migraine                         Along with excessive appetite, a stiff neck, h...
Pneumonia                        I'm having a hard time breathing and I feel re...
Psoriasis                        I have been experiencing a skin rash on my arm...
Typhoid                          I have constipation and belly pain, and it's b...
Varicose Veins                   I have a rash on my legs that is causing a lot...
allergy                          I have a runny nose and I am sneezing all the ...
diabetes                         I have increased thirst and frequent urination...
drug reaction                    I have a metallic taste in my mouth, and also ...
gastroesophageal reflux disease  I'm not in the mood to eat, and swallowing is ...
peptic ulcer disease             I have a burning sensation in my upper abdomen...
urinary tract infection          Frequent urges to urinate with little output, ...


                                freq
label
Acne                               2
Arthritis                          3
Bronchial Asthma                   2
Cervical spondylosis               2
Chicken pox                        2
Common Cold                        2
Dengue                             1
Dimorphic Hemorrhoids              3
Fungal infection                   1
Hypertension                       1
Impetigo                           1
Jaundice                           4
Malaria                            2
Migraine                           2
Pneumonia                          2
Psoriasis                          1
Typhoid                            1
Varicose Veins                     1
allergy                            1
diabetes                           1
drug reaction                      1
gastroesophageal reflux disease    2
peptic ulcer disease               1
urinary tract infection            1

#### BEFORE LABEL ENCODER

In [14]:
Data.head()

       label                                               text
0  Psoriasis  I have been experiencing a skin rash on my arm...
1  Psoriasis  My skin has been peeling, especially on my kne...
2  Psoriasis  I have been experiencing joint pain in my fing...
3  Psoriasis  There is a silver like dusting on my skin, esp...
4  Psoriasis  My nails have small dents or pits in them, and...

In [15]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['text','label']
le = LabelEncoder()
for i in var_mod:
    Data[i] = le.fit_transform(Data[i]).astype(int)

#### AFTER LABEL ENCODER

In [16]:
Data.head()

   label  text
0     15   272
1     15   953
2     15   293
3     15  1126
4     15   915

In [17]:
Data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1195    False
1196    False
1197    False
1198    False
1199    False
Length: 1200, dtype: bool

In [18]:
Data.duplicated().sum()

47

In [19]:
Data = Data.drop_duplicates()

In [20]:
Data.duplicated().sum()

0